@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
    font-family: 'Manrope', sans-serif, serif;
    font-weight: 800;
    background-color: var(--background-color);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.advice-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--advice-card-color);
    border-radius: 10px;
    margin: 20px;
    width: 345px;
}

.advice-card .number-advice {
    color: var(--advice-dice-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    margin-top: 30px;    
}

.advice-card .quote {
    color: var(--text-color);
    text-align: center;
    font-size: 28px;
    padding: 23px;
}

.advice-card img {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.advice-card .button {
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    padding: 18px;
    background-color: var(--advice-dice-color);
    /* Para colocar o botão na linha*/
    transform: translateY(50%);
}

.advice-card .button:hover {
    cursor: pointer;
    box-shadow: 0 5px 20px var(--advice-dice-color);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--attribution-color);
}

